#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* App.css */
.App {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.Sidebar {
  width: 20vw;
  min-width: 250px;
}

.App-content {
  transition: margin-left 0.3s ease;

  flex: 1;  /* Takes up the remaining space */
  width: 80vw;
  padding: 20px;
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 20px;
}

.Routes {
  width: 75vw;
}

/* Ensure that the route components are centered inside the .App-content */
.route-component {
  width: 100%; /* Take full width of the container */
  max-width: 960px; /* Optional: max width for better readability on larger screens */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}


.crewmate-card {
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 200px;
  cursor: pointer;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  background-color: white; /* Default background */
}

.crewmate-card:hover, .crewmate-card.active {
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
  transform: translateY(-5px); /* Slight raise effect */
  border-color: #646cff; /* Change border color on hover/active */
}

.crewmate-card.active {
  background-color: #f0f0f8; /* Light background for the active card */
}

.content-wrapper {
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}