/* Sidebar.css */
.sidebar {
    width: 20vw;
    height: 100vh; 
    position: fixed;
    left: -1.5rem;
    top: 5rem;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0; 
  }
  
  .sidebar ul li {
    padding: 10px 0;
  }
  
  .sidebar-link { 
    margin-top: 1rem;
    display: block;

    text-decoration: none;
    color: #430109;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;

    padding: 10px; /
  }
  
  .sidebar-link:hover {
    color: #007bff;
  }